body {
    background: #eee;
    padding: 24px;
    margin: 0;
  }
  canvas {
    background: white;
    display: none;
  }
  pre {
    margin:0;
    font-size: 3px;
    line-height: 2px;
    letter-spacing: -1px;
  }
